<%- include('../partials/header') %>
<section class="panel">
  <h2>Something went wrong</h2>
  <p><%= message %></p>
  <a class="button" href="/">Back to Home</a>
</section>
<%- include('../partials/footer') %>
